<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/bower_components/leaflet/dist/leaflet.css" />
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        
        html,
        body,
        #map {
            height: 100%;
            width: 100%;
            display: block;
        }
    </style>
</head>
<div id="map"></div>
</body>
<script src="/static/bower_components/leaflet/dist/leaflet.js"></script>
<script src="/static/js_libs/leaflet.rotatedMarker.js"></script>
<script src="/static/map.js"></script>

</html>